body{
    margin: 0;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: white;
}
.welcome{
    font-size: 25px;
    font-family: cursive;
}
.layout-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.input-container{
    margin-left: 40px;;
    margin-top: 50px;;
}
input{
    border: solid;
    padding: 12px 7px 12px 7px;
    border-radius: 50px;
    transition: padding 0.3s;
    border-color: blue;
}
input:hover{
    padding: 8px 22px 8px 22px;
}
.pw-buttons{
    margin-top: 20px;
}
.calc-btn{
    margin-right: 47px;
    border: none;
    background-color: green;
    color: whitesmoke;
    padding: 10px 14px 10px 14px;
}
.calc-btn:hover, .reset-btn:hover{
    opacity: 0.7;
    cursor: pointer;
}
.calc-btn:active, .reset-btn:active{
    opacity: 0.3;
}

.reset-btn{
    margin-right: 47px;
    border: none;
    background-color: red;
    color: whitesmoke;
    padding: 10px 14px 10px 14px;
}